# TYPO3 specific
/typo3temp/*


/public/_assets/
/public/index.php
/public/typo3/

/var/
/var/cache/
/var/cache/code/
/var/cache/code/fluid_template/
/var/cache/code/fluid_template/*.php

# Composer
/vendor/
composer.lock

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Cache
*.cache


